@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.bg-spin {
  animation: spin 15s linear infinite;
}

@keyframes marqueeRep {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100%);
  }
}

.marqueeDiv {
  animation: marqueeRep 100s linear infinite;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 640px) {
  .inactive-image {
      opacity: 0;
    }
}
